.title {
    color: white;
    font-size: 75px;
}

label {
    font-size: 40px;
    color:aliceblue;
}

input[type=text] {
    color: rgb(25, 24, 24);
    font-size: 40px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #192841;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form {
    width: 750px;
    border-radius: 250px;
    margin: auto;
}

.submitButton {
        font-size: 50px;
        left: -600px;
        margin-bottom: 50px;
        margin-top: 5px;
        border-radius: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 15px;
        background: rgb(79, 55, 186);
        background: radial-gradient(circle, rgb(115, 88, 234) 0%, rgb(152, 75, 183) 100%);
        cursor: pointer;
        margin-bottom: 50px;
}

.submitButton:hover {
    border-color: white;
    color: white;
}